// Typography
$base-font-family:'Cormorant Garamond', serif;
$heading-font-family: 'Montserrat', sans-serif;

// Font Sizes
$base-font-size: 18px;

// Font Weights
$regular-font-weight: 400;
$bold-font-weight: 700;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$green: #96D08C;
$light-green: #F9FFF8;
$blush: #F5A5AB;
$medium-gray: #999;
$light-gray: $medium-gray;
$blue: $green;
$base-background-color: #000;

// Font Colors
$nav-item-color: $blush;
$base-font-color: $medium-gray;
$action-color: $green;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
