---
layout: default
---
<section class="hero">
  <div class="home-slider">
    <div><img src="assets/img/tristan-and-joce-home.jpg" alt="Chelsey Barhorst Photography"></div>
    <div><img src="assets/img/sworden-home.jpg" alt="Chelsey Barhorst Photography"></div>
    <div><img src="assets/img/maddie-home.jpg" alt="Chelsey Barhorst Photography"></div>
  </div>
</section>


<section class="about">
  <h1>Hi, Im Chelsey. Im a family photographer based in Cincinnati, Ohio.</h1>
  <div class="portrait-photo">
    <img src="assets/img/chelsey.jpg" alt="Chelsey Barhorst">
  </div>
  <div class="chelsey-bio">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  </div>
</section>

<section class="gallery">
<h2>Gallery</h2>
<ul class="gallery-items">
{% for post in site.posts limit:3 %}
<li>
<img src="/assets/img/gallery-images/{{ post.home-image }}" alt="{{ post.title }}">
<span class="gallery-overlay">
<h4>{{ post.title }}</h4>
<a class="button button--white" href="{{ post.url }}">View Blog</a>
</span>
</li>
{% endfor %}
</ul>
<ul class="gallery-items">
  {% for post in site.posts offset:3 limit:3 %}
  <li>
  <img src="/assets/img/gallery-images/{{ post.home-image }}" alt="{{ post.title }}">
  <span class="gallery-overlay">
  <h4>{{ post.title }}</h4>
  <a class="button button--white" href="{{ post.url }}">View Blog</a>
  </span>
  </li>
  {% endfor %}
</ul>
</section>
<section class="footer">
  <h2>Contact Me!</h2>
  <form action="https://formspree.io/jordan.barhorst@gmail.com"
      method="POST">
    <input type="text" name="name">
    <input type="email" name="_replyto">
    <input type="submit" value="Send">
</form>

<!-- end container -->
</section>
