---
layout: default
---
<section class="hero">
  <div class="home-slider">
    <div><img src="/assets/img/home-img/carson.jpg" alt="Chelsey Barhorst Photography"></div>
    <div><img src="/assets/img/home-img/sworden.jpg" alt="Chelsey Barhorst Photography"></div>
    <div><img src="/assets/img/home-img/robinson.jpg" alt="Chelsey Barhorst Photography"></div>
    <div><img src="/assets/img/home-img/aleigh.jpg" alt="Chelsey Barhorst Photography"></div>
    <div><img src="/assets/img/home-img/mefford-home.jpg" alt="Chelsey Barhorst Photography"></div>
  </div>
</section>


<section class="about">
  <a name="about"></a>
  <h2>Hi, I'm Chelsey. Im a family and wedding photographer based in Cincinnati, Ohio.</h2>
  <div class="portrait-photo">
    <img src="/assets/img/chelsey.jpg" alt="Chelsey Barhorst">
  </div>
  <div class="chelsey-bio">
    <p>Growing up, I thought my unique perspective on life and ability to connect with anyone I encounter was pretty much only useful to maybe make a few friends or snag a job, but it turned out to be so much more. These talents have allowed me to grow and develop my life’s passions through my relationships, career as an educator, and lifelong passion of photography.</p>
    <p>I’ve always been interested in photography and even took a “class” in high school but I didn’t take the full plunge into the business until recently. I spent the summer of 2016 taking online courses, practicing shoots, and discovering my editing style. At first I figured it would just be a useful skill to have but I soon realized this was part of what I was called to do in my life; I have a true passion for it. Working with others and capturing them in a moment in time gives me so much joy. As a lifestyle and wedding photographer, I would love to have the opportunity to shoot your family or event, and help capture a moment forever.</p>
    <img src="/assets/img/floraldecoration-1.png">
  </div>
</section>

<section class="gallery">
  <a name="gallery"></a>
<span class="gallery-header">Gallery</span>
<ul class="gallery-items">
{% for post in site.posts limit:3 %}
<li>
<img src="/assets/img/gallery-images/{{ post.home-image }}" alt="{{ post.title }}">
<span class="gallery-overlay">
<h4>{{ post.title }}</h4>
<a class="button button--white" href="{{ post.url }}">View Blog</a>
</span>
</li>
{% endfor %}
</ul>
<ul class="gallery-items">
  {% for post in site.posts offset:3 limit:3 %}
  <li>
  <img src="/assets/img/gallery-images/{{ post.home-image }}" alt="{{ post.title }}">
  <span class="gallery-overlay">
  <h4>{{ post.title }}</h4>
  <a class="button button--white" href="{{ post.url }}">View Blog</a>
  </span>
  </li>
  {% endfor %}
</ul>
</section>
