/* Navigation Styles */
.container {
  @include outer-container(85%);
  .logo {
    img {
      max-width: 225px;
    }
    width: 250px;
    margin: auto;
    position: relative;
  }
  .navigation {
    margin: 0 auto 2.5em;
    position: relative;
    text-align: center;
    ul {
      li {
        display: inline;
        padding-left: 25px;
        padding-right: 25px;
        font-family: $base-font-family;
      }
    }
  }
}

/* Slider Styles */
.slick-prev {
  left:20px;
  z-index:999;
  height:50px;
}
.slick-next {
  right:40px;
  z-index:999;
  height:50px;
}
.slick-next:before {
  content: url(../img/settings/next.png)!important;
}
.slick-prev:before {
  content: url(../img/settings/prev.png)!important;
}
.slick-prev:before, .slick-next:before {
  font-family: $base-font-family;
  font-size: 80px;
  font-weight: 700;
  color: white;
  opacity: .75;
  height: 50px;
}

/* About Styles */

.about {
  @include span-columns(12);
  background-color: $light-green;
  padding: 60px 7.5%;
  color: $green;
  overflow: auto;

  h1 {
    text-align: center;
    font-weight: 400;
    padding-bottom: 20px;
  }

  .portrait-photo {
    @include span-columns(6);
    img {
      margin-right:15%;
    }
  }
  .chelsey-bio {
    @include span-columns(6);
    color: $medium-gray;
  }
  .clear {
    clear:both;
  }
}

/* Gallery Styles */

.gallery {
  @include span-columns(12);

  text-align: center;
  padding: 60px 0;


  ul {
    /* margin-bottom: 25px; */

    li {
    padding-right: 0  !important;
    margin: 0 0 1.25% 1.25% !important;
    text-align: center;
    display: inline-block;
    position: relative;

      img {
      max-width: 300px;
      }
      .gallery-overlay {
        display: none;
        position: absolute;
        left: 12%;
        top: 13%;
        width: 75%;
        height: 75%;
        padding: 15% 5%;
        background: lighten($peach, 5%);
        opacity: .95;

        h4 {
          color: $blush;
          font-size: 1em;
          padding-bottom: 0!important;
          margin-bottom: .5em;
        }

        a {
          color: $green;
          font-family:$base-font-family;
          font-size: 1em;
          font-weight: 700;
          font-style: italic;
          padding-top: 0!important;
        }
      }
        &:hover {
          .gallery-overlay {
            display: block;
          }
      }
    }
  }
}
