<footer>
  <a name="mobile-nav"></a>
  <div class="footer-logo">
    <a href="/index.html"><img src="/assets/img/logov5.png"></a>
  </div>

  <ul class="mobile-navigation">
    <li><a href="#about">about me</a></li>
    <li><a href="#gallery">gallery</a></li>
    <li><a href="/blog.html">blog</a></li>
    <li><a href="#">investment</a></li>
    <li><a href="/clients.html">clients</a></li>
    <li><a href="#contact">contact</a></li>
  </ul>
  <div class="clear"></div>
  <a name="contact"></a>
<h2>Let's get shooting!</h2>
  <form class="footer-form" action="https://formspree.io/jordan.barhorst@gmail.com"
      method="POST">
      <p>Book now for your next photoshoot! Fill out the short form below, and I'll get back to you as soon as I can.</p>

    <input type="text" name="full-name" placeholder="Full Name">
    <input type="email" name="_replyto" placeholder="Email Address">
    <select name="service-needed" placeholder="What kind of shoot are you interested in?">
      <option value="" disabled selected>Select a shoot</option>
      <option value="wedding" name="wedding">Wedding</option>
      <option value="family" name="family">Family Photos</option>
      <option value="senior" name="senior">Senior Photos</option>
      <option value="engagement" name="engagement">Engagement Photos</option>
      <textarea name="message" rows="10" cols="30">Anything else you want to add? Let me know here!</textarea>
    <input class="button" type="submit" value="Send">
</form>
<section class="social-buttons">
  <a href="http://www.facebook.com/chelseybarhorstphotography" target="_blank"><img src="/assets/img/fb.png"></a>
  <a href="http://www.instagram.com/chelseybarhorstphotography" target="_blank"><img src="/assets/img/ig.png"></a>
</section>
<section class="disclaimer">
  <h1>Cincinnati area family and portrait photography<br>Southwest Ohio | Northern Kentucky | Southeastern Indiana</h1>
  <p>Copyright &copy; 2016 Chelsey Barhorst | Created by <a href="http://www.jordanbarhorst.com">Jordan Barhorst</a></p>
</section>
</footer>
<!-- end container -->
</section>
