<section class="container">
<section class="logo">
  <a href="/index.html"><img src="/assets/img/logov5.png"></a>
</section>
<section class="navigation">
  <ul class="mainnav">
    <li><a href="/#about">about me</a></li>
    <li><a href="/#gallery">gallery</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/assets/barhorst-pricesheet.pdf" target="_blank">investment</a></li>
    <li><a href="#" onClick="passWordMefford()">clients</a></li>
    <li><a href="/#contact">contact</a></li>
  </ul>
  <div class="mobile-nav">
    <a href="#mobile-nav">menu</a>
  </div>
</section>
<div style="clear: both;"></div>
